@media screen {
    .print-pdf-screen-container {
        display: none;
    }
}
@media print {
    * {
        font-family: unset !important ;
        // stroke-width: 0; // fix lỗi in đậm công thức toán học mathjax, nhưng có thể ảnh hưởng đến cái khác, chú ý chỗ này!!
    }
    div {
        display: block;
        page-break-inside: avoid;
    }

    .page-break {
        page-break-before: always;
    }

    mjx-container[jax="SVG"] {
        * {
            stroke-width: 0; // fix lỗi in đậm công thức toán học mathjax, nhưng có thể ảnh hưởng đến cái khác, chú ý chỗ này!!
        }
    }
}

.print-pdf-screen-container {
    width: 100%;
    padding-top: -20px;
    padding: 13px;
    box-sizing: border-box;
    color: #000 !important;
    background-color: #fff;

    .print-header {
        width: 100%;
        position: relative;

        .print-header-img {
            width: 100%;
            height: auto;
        }

        .print-app-info-container {
            display: flex;
            height: 100%;
            padding: 12px;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            right: 0;
            align-items: center;

            .print-app-logo {
                height: 32px;
            }

            .print-link-web {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 200% */
                text-align: center;
                color: #ffffff;
                margin-left: 8px;
            }
        }
    }

    .print-topic-name {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        text-transform: capitalize;
        /* identical to box height, or 100% */
        text-align: center;
        color: #212121;
        margin-top: 32px;
    }

    .print-number-of-question {
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */
        text-align: center;
        color: #50555c;
        margin-top: 6px;
    }
    .page-break {
        font-weight: bold;
        page-break-before: always;
        margin-top: 50px;
    }

    .print-result-container {
        margin-top: 30px;
        width: 100%;
        .print-answer-text {
            font-weight: 600;
        }

        .print-explanation-text {
            font-style: italic;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .print-explanation-content {
        color: #272728;
        font-weight: 400;
        padding: 10px 0;
        font-size: 16px;
        text-align: start;
    }
}
