.v4-banner-download-app-0 {
    background: #feefab;
    display: flex;
    overflow: unset;
    height: 400px;
    color: #212121;
    .v4-banner-download-app-1 {
        display: flex;
        flex-direction: column;
        .v4-banner-download-app-11 {
            position: relative;
            z-index: 1;
            .v4-banner-download-app-background {
                background-image: url(/public/images/ballon-mobile.svg);
                height: 285px; // real size
                width: 315px;
                margin: 0;
            }
            .v4-banner-download-app-content-0 {
                position: absolute;
                top: 0;
                padding: 16px;
                > div:first-child {
                    text-align: center;
                    margin: 0 auto;
                    font-size: 16px;
                    line-height: 20px;
                    width: 200px;
                    strong {
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 48px;
                    }
                }
                .grid-feature-item {
                    width: 250px;
                    text-align: center;
                    font-size: 12px;
                    padding-top: 10px;
                    line-height: 18px;
                }

                .v4-banner-download-app-grid-feature-0 {
                    display: none;
                }
                .v4-banner-download-app-method-0 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 24px;
                    .v4-banner-download-app-method-qr {
                        background-color: #f3f3f3;
                        display: flex;
                        padding: 5px;
                        border-radius: 6px;
                        margin-left: 18px;
                        svg {
                            width: 50px;
                            height: 50px;
                            //phần cònig này chỉ dùng cho mã qr thôi nha
                            path:first-child {
                                fill: #f3f3f3;
                            }
                            path:not(:first-child) {
                                fill: #575757;
                            }
                        }
                    }
                }
            }
        }
        .v4-banner-download-app-12 {
            margin-top: -24px;
            figure {
                width: 336px;
                height: 128px;
                background-size: 336px 128px;
                background-repeat: no-repeat;
                background-image: var(--img-mobile-url);
            }
        }
    }

    @media screen and (min-width: 769px) {
        height: 550px;
        .v4-banner-download-app-1 {
            flex-direction: row;
            .v4-banner-download-app-11 {
                height: fit-content;
                display: flex;
                .v4-banner-download-app-background {
                    background-image: url(/public/images/ballon-desktop.svg);
                    margin-top: -16px;
                    margin-left: -21px;
                    height: 590px; // real size
                    width: 780px;
                }

                .v4-banner-download-app-content-0 {
                    padding: 40px;
                    > div:first-child {
                        font-size: 35px;
                        width: 340px;
                        line-height: 42px;
                        strong {
                            font-size: 55px;
                            line-height: 80px;
                        }
                    }
                    .grid-feature-item {
                        display: none;
                    }
                    .v4-banner-download-app-grid-feature-0 {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        margin-top: 32px;
                        grid-gap: 24px;
                        gap: 24px;
                        .grid-feature-item {
                            display: flex;
                            align-items: center;
                            padding-top: 0;
                            > span {
                                padding-left: 10px;
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }
                    }

                    .v4-banner-download-app-method-0 {
                        padding-top: 60px;
                        .v4-banner-download-app-method-qr {
                            margin-left: 56px;
                            padding: 10px;
                            border-radius: 12px;
                            svg {
                                width: 98px;
                                height: 98px;
                            }
                        }
                    }
                }
            }
            .v4-banner-download-app-12 {
                position: relative;
                figure {
                    position: absolute;
                    margin: 0;
                    top: -16px;
                    width: 434px;
                    height: 608px;
                    background-repeat: no-repeat;
                    background-size: 434px 608px;
                    background-image: var(--img-desktop-url);
                }
            }
        }
    }
}
