.v4-test-banner-0 {
    background-color: #fff;
    color: #212121;
    display: flex;
    height: 400px;
    flex-direction: column-reverse;
    h3 {
        margin: 0;
    }
    .v4-test-banner-content-0 {
        padding: 24px;
        .v4-test-banner-description {
            display: none;
        }
        .v4-test-banner-content-1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 16px 0;
            div {
                font-size: 14px;
                line-height: 24px;
                color: rgba(89, 89, 89);
            }
            strong {
                color: #212121;
            }
        }
        h3 {
            font-size: 24px;
            line-height: 36px;
        }
        .v4-test-banner-content-button-practice {
            background: #7c6f5b;
            text-align: center;
            padding: 10px 32px;
            font-weight: 600;
            cursor: pointer;
            margin-top: 24px;
            transition: all 0.2s;
            text-decoration: none;
            color: #fff;
            line-height: 24px;
            &:hover {
                opacity: 0.9;
            }
        }
    }

    .v4-test-banner-thumbnail-0 {
        flex: auto;
        background-size: cover;
        background-position: center;
        margin: 0;
    }

    @media screen and (min-width: 769px) {
        box-shadow: 0px 4px 4px 0px #e4e4e4;
        flex-direction: row;
        height: fit-content;
        .v4-test-banner-content-0 {
            h3 {
                font-size: 20px;
                line-height: 28px;
            }
            .v4-test-banner-description {
                display: block;
                line-height: 21px;
            }
            .v4-test-banner-content-1 {
                max-width: 390px;
            }

            .v4-test-banner-content-button-practice {
                width: fit-content;
                margin-top: 32px;
            }
        }

        .v4-test-banner-thumbnail-0 {
            width: 40%;
            max-width: 500px;
            flex: none;
            background-size: cover;
            margin: 0;
        }
    }
}
