# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.history
package-lock.json
yarn.lock
build.zip

# testing
/coverage

# next.js
/.next/
/out/
/README.md
# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

.idea/

public/info/images/logo192.png
public/info/images/logo512.png
public/info/images/logo60.png
src/config_app.js
src/data/appInfos.json
src/data/footerMenus.json
src/data/stateData.json
src/data/studyData.json
src/styles/config.css
.env
ssh_keys/id_rsa
deploy_.sh
build-easyprep.zip
