@charset "UTF-8";
.in-form-cdl {
  display: flex;
  width: 100%;
  justify-content: center;
}
.in-form-cdl .left-form {
  display: flex;
  height: 676px;
  width: 50%;
  position: relative;
}
.in-form-cdl .left-form .img-back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  right: 0;
}
.in-form-cdl .left-form .cluster-img-info {
  max-width: 662px;
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  position: absolute;
  bottom: 0;
  left: 80px;
  z-index: 2;
}
.in-form-cdl .left-form .cluster-img-info .title {
  color: #ffffff;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  text-align: left;
}
.in-form-cdl .left-form .cluster-img-info .intro {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  text-align: left;
  margin-top: 4px;
}
.in-form-cdl .left-form .cluster-img-info img {
  width: 30px;
  height: 30px;
}
.in-form-cdl .left-form .cluster-img-info .text-info {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.in-form-cdl .left-form .cluster-img-info .cluster-email {
  display: flex;
  gap: 16px;
  cursor: pointer;
  margin-top: 24px;
}
.in-form-cdl .left-form .cluster-img-info .cluster-email:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}
.in-form-cdl .left-form .cluster-img-info .cluster-location {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}
.in-form-cdl .left-form .cluster-img-info .socials-icon {
  gap: 16px;
  margin-top: 24px;
}

.cluster-send-mail-cdl {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.cluster-send-mail-cdl .form-send-mail {
  display: flex;
  flex-direction: column;
  max-width: 576px;
  background-color: #fff;
  margin-left: 48px;
  padding: 24px 24px 0 24px;
  border-radius: 16px;
  box-shadow: 0px 4px 8px 0px rgba(52, 63, 130, 0.2392156863);
}
.cluster-send-mail-cdl .form-send-mail p {
  margin: 0;
  color: #212121;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}
.cluster-send-mail-cdl .form-send-mail .title {
  color: #212121;
  font-size: 52px;
  line-height: 78px;
  font-weight: 700;
  text-align: center;
}
.cluster-send-mail-cdl .form-send-mail .description {
  color: rgba(33, 33, 33, 0.5215686275);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
.cluster-send-mail-cdl .form-send-mail .noti {
  color: #fd5f57;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  margin-top: 8px;
  opacity: 0;
  transition: all 0.3s ease;
}
.cluster-send-mail-cdl .form-send-mail .noti.check {
  opacity: 1;
}
.cluster-send-mail-cdl .form-send-mail .input-mail {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.cluster-send-mail-cdl .form-send-mail .input-mail p {
  margin-top: 32px;
}
.cluster-send-mail-cdl .form-send-mail .input-mail .group-input-noti input {
  border: 1px solid rgba(33, 33, 33, 0.1607843137);
  width: 100%;
  border-radius: 8px;
  padding: 16px;
}
.cluster-send-mail-cdl .form-send-mail .input-mail .group-input-noti input::-moz-placeholder {
  color: rgba(33, 33, 33, 0.5215686275);
  opacity: 0.8;
}
.cluster-send-mail-cdl .form-send-mail .input-mail .group-input-noti input::placeholder {
  color: rgba(33, 33, 33, 0.5215686275);
  opacity: 0.8;
}
.cluster-send-mail-cdl .form-send-mail .input-mail .group-input-noti input:focus {
  outline: none;
}
.cluster-send-mail-cdl .form-send-mail .input-message {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.cluster-send-mail-cdl .form-send-mail .input-message .group-textarea-noti {
  /* Track của thanh cuộn */
  /* Phần kéo của thanh cuộn */
  /* Hover trên thanh kéo */
}
.cluster-send-mail-cdl .form-send-mail .input-message .group-textarea-noti .noti {
  transform: translateY(-3px);
  margin: 0;
}
.cluster-send-mail-cdl .form-send-mail .input-message .group-textarea-noti textarea {
  resize: none;
  padding: 16px 0 0 16px;
  border: 1px solid rgba(33, 33, 33, 0.1607843137);
  border-radius: 8px;
  width: 100%;
  height: 120px;
}
.cluster-send-mail-cdl .form-send-mail .input-message .group-textarea-noti textarea:focus {
  outline: none;
}
.cluster-send-mail-cdl .form-send-mail .input-message .group-textarea-noti textarea::-moz-placeholder {
  color: rgba(33, 33, 33, 0.5215686275);
  opacity: 0.8;
}
.cluster-send-mail-cdl .form-send-mail .input-message .group-textarea-noti textarea::placeholder {
  color: rgba(33, 33, 33, 0.5215686275);
  opacity: 0.8;
}
.cluster-send-mail-cdl .form-send-mail .input-message .group-textarea-noti .message-send-mail::-webkit-scrollbar {
  width: 4px;
  /* Độ rộng của thanh cuộn */
}
.cluster-send-mail-cdl .form-send-mail .input-message .group-textarea-noti .message-send-mail::-webkit-scrollbar-track {
  background: #f3f3f3;
  /* Màu nền của track */
  border-radius: 8px;
  /* Bo góc */
}
.cluster-send-mail-cdl .form-send-mail .input-message .group-textarea-noti .message-send-mail::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  /* Màu của thanh kéo */
  border-radius: 4px;
  /* Bo góc */
}
.cluster-send-mail-cdl .form-send-mail .input-message .group-textarea-noti .message-send-mail::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
  /* Màu khi hover */
}
.cluster-send-mail-cdl .form-send-mail button {
  width: 100%;
  background-color: var(--main-color);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 0 16px 0;
  margin: 3px 0 19px 0;
  cursor: pointer;
}
.cluster-send-mail-cdl .form-send-mail img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .cluster-infor-title .cluster-send-mail-cdl {
    width: 100%;
    padding: 24px 16px;
    background-image: url(/images/contacts/cdl/truck-contact-page-mobile.png);
    background-size: cover;
    background-position: center;
  }
  .cluster-infor-title .cluster-send-mail-cdl .form-send-mail {
    margin-left: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    width: 100%;
  }
  .cluster-infor-title .cluster-send-mail-cdl .form-send-mail p {
    color: #fff;
  }
  .cluster-infor-title .cluster-send-mail-cdl .form-send-mail .noti {
    font-size: 12px;
    line-height: 12px;
    margin-top: 4px;
  }
  .cluster-infor-title .cluster-send-mail-cdl .form-send-mail .title {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
  }
  .cluster-infor-title .cluster-send-mail-cdl .form-send-mail .description {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  .cluster-infor-title .cluster-send-mail-cdl .form-send-mail .input-mail p {
    margin-top: 24px;
  }
  .cluster-infor-title .cluster-send-mail-cdl .form-send-mail .input-message {
    margin-top: 0;
  }
  .cluster-infor-title .cluster-send-mail-cdl .form-send-mail button {
    padding: 12px 0;
    margin: 0;
    line-height: 20px;
  }
  .cluster-infor-title .cluster-send-mail-cdl .contact-information {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    margin-top: 24px;
  }
  .cluster-infor-title .cluster-send-mail-cdl .intro {
    margin-top: 4px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
  }
  .cluster-infor-title .cluster-send-mail-cdl .cluster-email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    width: 100%;
  }
  .cluster-infor-title .cluster-send-mail-cdl .cluster-email img {
    width: 28px;
    height: 28px;
    padding: 0;
  }
  .cluster-infor-title .cluster-send-mail-cdl .cluster-email .text-info {
    color: #fff;
  }
  .cluster-infor-title .cluster-send-mail-cdl .socials-icon {
    width: 100%;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
  }
}/*# sourceMappingURL=style.css.map */