.circular-progress {
  --size: 160px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 20px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  position: absolute;
  inset: 0;
  z-index: 0;
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke: #7c6f5b;
  stroke-linecap: round;
}

.circular-progress circle.bg {
  stroke: #ddd;
  color: transparent;
}
