.header-1-category-desktop {
    border-radius: 16px;
    background: #fff;
    height: fit-content;
    padding: 16px;
    width: max-content;
    max-width: 720px;
    box-shadow: 0px 24px 56px 0px rgba(167, 174, 186, 0.161);
    display: flex;
    .list-category {
        width: 250px;
        flex: none;
        .category-name {
            font-size: 16px;
            line-height: 20px;
            padding: 16px;
            transition: 0.1s all;
            cursor: pointer;
            border-bottom: 2px solid transparent;
        }

        .category-name:hover {
            background: #f0f4f5;
        }

        .category-name.active {
            background: #f0f4f5;
            color: #0eb4d3;
            font-size: 600;
            border-bottom: 2px solid rgba(33, 33, 33, 0.52);
        }
    }

    .list-app {
        background: #f0f4f5;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 16px;
    }
    .grid-app {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;
        grid-gap: 12px;
        .app-name {
            font-size: 14px;
            line-height: 18px;
            font-weight: 700;
            padding: 16px;
            background: #fff;
            text-align: center;
            border-radius: 8px;
            border: 1px solid #8e8177;
            cursor: pointer;
        }

        .app-name:hover {
            box-shadow: 2px 2px 0px 0px #212121;
        }
    }

    @media screen and (min-width: 1300px) {
        max-width: 1100px;
        .grid-app {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}
