.v0-app-header {
  height: 56px;
  z-index: 10;
  border-bottom: 1px solid rgba(33, 33, 33, 0.12);
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--background);
}
.v0-app-header .v0-app-header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.v0-app-header .v0-app-header-container .menu-btn-icon {
  cursor: pointer;
}
.v0-app-header .v0-app-header-container .menu-btn-icon path {
  fill: var(--font-color-052);
}
@media screen and (min-width: 769px) {
  .v0-app-header {
    height: 76px;
  }
  .v0-app-header .v0-app-header-container {
    justify-content: space-between;
    height: 100%;
  }
  .v0-app-header .v0-app-header-container .v0-app-header-option-right {
    display: flex;
    align-items: center;
  }
  .v0-app-header .v0-app-header-container .v0-app-header-option-right .avt {
    margin-left: 12px;
  }
  .v0-app-header .v0-app-header-container a {
    text-decoration: none;
    color: var(--font-color-052);
    padding: 0 12px;
    font-size: 16px;
    line-height: 25px;
  }
  .v0-app-header .v0-app-header-container a:not(:first-child) {
    margin-left: 6px;
  }
  .v0-app-header .v0-app-header-container a.option-get-pro {
    text-decoration: underline;
  }
}

.v0-drawer-app-header-menu .MuiDrawer-paper {
  width: 100%;
  padding: 24px 0;
  background-color: var(--background);
}
.v0-drawer-app-header-menu .MuiDrawer-paper .v0-drawer-menu-container .v0-drawer-menu-container-top {
  display: flex;
  justify-content: space-between;
}
.v0-drawer-app-header-menu .MuiDrawer-paper .v0-drawer-menu-container .v0-drawer-menu-container-top .close-drawer-menu-btn {
  padding: 10px;
  display: flex;
  border-radius: 50%;
  transition: 0.2s all;
  cursor: pointer;
}
.v0-drawer-app-header-menu .MuiDrawer-paper .v0-drawer-menu-container .v0-drawer-menu-container-top .close-drawer-menu-btn path {
  fill: var(--font-color-052);
}
.v0-drawer-app-header-menu .MuiDrawer-paper .v0-drawer-menu-container .v0-drawer-menu-container-top .close-drawer-menu-btn:hover {
  background-color: rgba(33, 33, 33, 0.12);
}
.v0-drawer-app-header-menu .MuiDrawer-paper .v0-drawer-menu-container .v0-drawer-menu-container-top .app-logo-in-drawer-menu img {
  width: 104px;
  height: 24px;
}
.v0-drawer-app-header-menu .MuiDrawer-paper .v0-drawer-menu-container .v0-drawer-menu-option {
  margin-top: 36px;
  padding: 0 12px;
}
.v0-drawer-app-header-menu .MuiDrawer-paper .v0-drawer-menu-container .v0-drawer-menu-option > p {
  font-size: 18px;
  line-height: 27px;
  color: var(--font-color-052);
}
.v0-drawer-app-header-menu .MuiDrawer-paper .v0-drawer-menu-container .v0-drawer-menu-option > * {
  display: block;
}
.v0-drawer-app-header-menu .MuiDrawer-paper .v0-drawer-menu-container .v0-drawer-menu-option > a,
.v0-drawer-app-header-menu .MuiDrawer-paper .v0-drawer-menu-container .v0-drawer-menu-option .avt a {
  text-decoration: none;
  font-size: 36px;
  line-height: 54px;
  color: var(--font-color);
  margin-top: 16px;
}
.v0-drawer-app-header-menu .MuiDrawer-paper .v0-drawer-menu-container .v0-drawer-menu-option .avt {
  margin-top: 16px;
}
.v0-drawer-app-header-menu .MuiDrawer-paper .v0-drawer-menu-container .v0-drawer-menu-option .drawer-menu-switch-theme {
  margin-top: 16px;
  padding: 12px 0;
}/*# sourceMappingURL=ClientHeader.css.map */