.user-avatar {
    width: 38px;
    height: 38px;
    border-radius: 48px;
    border: 2px solid #d8d8d8;
    padding: 1px;
    position: relative;
    cursor: pointer;
    .avatar {
        background-color: #d8d8d8;
        border-radius: 40px;
        width: 38px;
        height: 38px;
        overflow: hidden;
        display: block;
    }

    .pro-crown {
        position: absolute;
        top: -2px;
        right: -16px;
    }
}

.popover-container {
    position: absolute;
    left: -2px;
    width: 156px;
    background-color: #fff;
    // padding: 8px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(33, 33, 33, 0.2);
    opacity: 0;
    height: 0px;
    overflow: hidden;
    z-index: -1;
    transition: 0.1s all ease-in-out;
    > div {
        padding: 8px 16px;
        cursor: pointer;
        transition: 0.1s all;
        font-size: 16px;
        line-height: 24px;
        color: #212121;
        &:first-child {
            border-bottom: 1px solid rgba(33, 33, 33, 0.2);
        }
        &:hover:not(._disable) {
            background-color: rgba(33, 33, 33, 0.1);
        }
        &._disable {
            color: rgba(33, 33, 33, 0.32);
        }
    }

    &.show {
        // animation: fadeIn 0.1s ease-in-out forwards;
        height: 81px;
        z-index: 5;
        opacity: 1;
    }

    &.hide {
        // animation: fadeOut 0.1s ease-in-out forwards;
        height: 0;
        z-index: -1;
        opacity: 0;
    }

    @media screen and (min-width: 769px) {
        right: 0 !important;
        left: unset;
    }
}

// @keyframes fadeIn {
//     0% {
//         opacity: 0;
//     }

//     100% {
//         opacity: 1;
//     }
// }

// @keyframes fadeOut {
//     0% {
//         opacity: 1;
//     }

//     100% {
//         opacity: 0;
//     }
// }

.confirm-logout {
    .MuiDialog-paper {
        border-radius: 14px;
    }
    .popup-confirm-logout {
        padding: 24px;

        p {
            margin: 0;
            margin-bottom: 48px;
            font-size: 18px;
            text-align: center;
            line-height: 24px;
            color: #212121;
        }

        > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;
            grid-gap: 8px;

            button {
                line-height: 48px;
                border-radius: 12px;
                border: 1px solid rgba(33, 33, 33, 0.12);
                background-color: #fff;
                color: #212121;
                font-size: 16px;
                max-width: 200px;
                cursor: pointer;
            }
        }
    }
}
