.cta-platform {
    width: 100%;
    border-radius: 60px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .choose-platform {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-self: center;
        h2 {
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            text-align: center;
            color: var(--font-color);
            margin: 0;
            font-weight: 600;
        }

        .get-app-from-email-or-qr {
            button {
                max-width: 140px;
                width: 100%;
            }
        }

        .platform {
            margin-top: 32px;
            display: flex;

            a {
                cursor: pointer;
            }
            img {
                width: 100%;
                max-width: 215px;
                min-width: 150px;
                margin: 4px;
                transition: all 0.3s ease;
                &:focus {
                    outline: none;
                }
                &:hover {
                    transform: translate3d(0, -3px, 0);
                }
            }
        }
        @media screen and (max-width: 768px) {
            h2 {
                font-size: 36px;
                line-height: 48px;
            }

            .platform {
                align-items: center;
                flex-direction: column;
                margin-top: 0;

                a {
                    img {
                        margin-top: 16px;
                    }
                }
            }
        }
    }

    .ip-img {
        display: flex;
        width: 295px;
        height: 295px;
        flex: none;
        justify-content: center;
        align-items: flex-end;
        img {
            max-width: 200px;
            max-height: 295px;
        }
    }
    @media screen and (max-width: 768px) {
        border-radius: 40px;
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 36px 16px;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        .ip-img {
            display: none;
        }
    }
}

.get-app-from-email-or-qr {
    width: 215px;
    margin: 32px auto;
    text-align: center;
    .qr-code-frame {
        width: 128px;
        height: 128px;
    }
    @media screen and (min-width: 769px) {
        padding: 0 44px;
    }

    div {
        width: 215px;
        margin-top: 5px;
        input[type="email"] {
            width: 180px;
            height: 45px;
            border: 1.5px solid rgba(33, 33, 33, 0.32);
            border-radius: 10px;
            padding: 0 16px;
            background-color: rgba(255, 255, 255, 0.12);
            color: var(--font-color);
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: var(--font-color-052);
            }

            &:-ms-input-placeholder {
                color: var(--font-color-052);
            }

            &::-ms-input-placeholder {
                color: var(--font-color-052);
            }
        }

        button {
            width: 120px;
            height: 32px;
            margin-top: 16px;
            border-radius: 6px;
            background-color: var(--main-color);
            border: none;
            color: white;
            font-size: 12px;
            transition: all 0.3s ease;
            &:hover {
                transform: translate3d(0, -3px, 0);
            }
        }
    }

    .get-app-text {
        margin-top: 10px;
        font-size: 12px;
        line-height: 18px;
        color: var(--font-color-052);
    }
}
