.download-pdf-popup {
    .MuiPaper-root {
        border-radius: 12px;
        .button-confirm {
            text-transform: none;
            font-size: 16px;
            // background-color: #;
        }
    }
}
