.arrow-component-container {
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .step-item {
        position: absolute;
        height: fit-content;
        z-index: 1;
        .arrow-component-item {
            .arrow {
                height: 6px;
                margin-left: 5px;
            }
        }
        .content {
            span {
                font-size: 4px !important;
                line-height: 18px;
                font-weight: 600;
                padding-left: 3px;
                text-transform: capitalize;
            }
            #pass-content {
                background: linear-gradient(
                    59.51deg,
                    #dba73e -4.59%,
                    #d89d3a 12.88%,
                    #f4f3b8 54.37%,
                    #f7ed9a 56.55%,
                    #d5b767 70.75%,
                    #d0ab5b 88.22%,
                    #e0c77d 104.59%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: block; // for safari **
                text-align: center;
            }
        }
        @media screen and (min-width: 375px) {
            .arrow-component-item {
                .arrow {
                    height: 8px;
                    margin-left: 7px;
                }
            }
            .content {
                span {
                    font-size: 6px !important;
                    line-height: 18px;
                    padding-left: 5px;
                }
            }
        }
        @media screen and (min-width: 769px) {
            .arrow-component-item {
                .arrow {
                    height: 16px;
                    margin-left: 13px;
                }
            }
            .content {
                span {
                    font-size: 12px !important;
                    line-height: 18px;
                    padding-left: 9px;
                }
            }
        }
    }
    @media screen and (min-width: 769px) {
        height: 170px;
    }
}

.arrow-component-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 36px;

    &.can-be-activate:active {
        .arrow {
            background-color: var(--background-008) !important;
            transition: background-color 0s;
        }
    }

    .arrow {
        width: 100%;
        height: 12px;
    }
    .content {
        position: absolute;
        z-index: 1;
        width: 100%;

        .item-label {
            text-transform: uppercase;
            font-size: 8px !important;
            line-height: 27px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-weight: 600;
            align-items: center;
            position: relative;
            width: 100% !important;

            .schedule-icon {
                align-items: center;
                display: flex;
                right: 6px;
                position: absolute;
            }
        }
    }
    .arrow.top {
        transform: skew(40deg, 0deg);
        box-shadow: 2px -2px 10px -5px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 2px -2px 10px -5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 2px -2px 10px -5px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: flex-end;
        .gradient-to-right-top {
            width: 100%;
            height: 18px;
            margin-top: -6px;
            background-image: linear-gradient(
                76deg,
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.05),
                rgba(0, 0, 0, 0.01),
                rgba(255, 255, 255, 0)
            );
        }

        .gradient-to-left-top {
            width: 100%;
            height: 18px;
            margin-top: -6px;
            background-image: linear-gradient(
                -76deg,
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.05),
                rgba(0, 0, 0, 0.01),
                rgba(255, 255, 255, 0)
            );
        }
    }

    .arrow.bottom {
        transform: skew(-40deg, 0deg);
        box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.2);
        .gradient-to-right-bottom {
            height: 18px;
            width: 100%;
            background-image: linear-gradient(
                104deg,
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.05),
                rgba(0, 0, 0, 0.01),
                rgba(255, 255, 255, 0)
            );
        }
        .gradient-to-left-bottom {
            height: 18px;
            width: 100%;
            background-image: linear-gradient(
                -104deg,
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.05),
                rgba(0, 0, 0, 0.01),
                rgba(255, 255, 255, 0)
            );
        }
    }
    @media screen and (min-width: 375px) {
        height: 44px;

        .arrow {
            height: 16px;
        }

        .content {
            .item-label {
                font-size: 9px !important;
            }
        }

        .arrow.top {
            .gradient-to-right-top {
                height: 22px;
                margin-top: -6px;
            }
            .gradient-to-left-top {
                height: 22px;
                margin-top: -6px;
            }
        }

        .arrow.bottom {
            .gradient-to-right-bottom {
                height: 22px;
            }
            .gradient-to-left-bottom {
                height: 22px;
            }
        }
    }
    @media screen and (min-width: 769px) {
        height: 90px;
        .arrow {
            height: 32px;
        }

        .content {
            .item-label {
                font-size: 18px !important;
            }
        }

        .arrow.top {
            box-shadow: 2px -4px 12px -5px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 2px -4px 12px -5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 2px -4px 12px -5px rgba(0, 0, 0, 0.2);

            .gradient-to-right-top {
                height: 44px;
                margin-top: -12px;
            }
            .gradient-to-left-top {
                height: 44px;
                margin-top: -12px;
            }
        }

        .arrow.bottom {
            box-shadow: 2px 6px 12px -5px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 2px 6px 12px -5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 2px 6px 12px -5px rgba(0, 0, 0, 0.2);
            .gradient-to-right-bottom {
                height: 44px;
            }
            .gradient-to-left-bottom {
                height: 44px;
            }
        }
    }
}
