.apps-section-v0 {
  width: 100%;
}
.apps-section-v0 .container-apps-section-v0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.apps-section-v0 .container-apps-section-v0 .title-apps-section-mobile {
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  color: rgb(34, 17, 34);
  margin-bottom: 20px;
  margin-top: 70px;
  text-align: center;
}
.apps-section-v0 .container-apps-section-v0 .title-apps-section-mobile .text-edit {
  margin: 0px 6px 0px 6px;
  color: rgb(50, 150, 120);
}
.apps-section-v0 .container-apps-section-v0 .title-apps-section-web {
  display: none;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 {
  width: 100%;
  transition: all 0.3s ease;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0:hover {
  transform: translateY(-3px);
  background-color: rgba(50, 150, 120, 0.04);
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .category-app-item {
  height: 100%;
  transition: all 0.3s ease;
  align-items: center;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .category-app-item.active {
  transition: 0.2s all ease;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .category-app-item.active span {
  color: rgb(50, 150, 120);
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  text-transform: capitalize;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .category-app-item .container-app-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .category-app-item .container-app-item .title-category-app {
  margin: 24px;
  text-align: center;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .list-app-mobile {
  width: 100%;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .list-app-mobile .list-app {
  width: 100%;
  align-items: center;
  text-align: center;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .list-app-mobile .list-app .grid-container-app {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .list-app-mobile .list-app .grid-container-app .grid-item-app {
  text-decoration: none;
  align-items: center;
  margin: 10px;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .list-app-mobile .list-app .grid-container-app .grid-item-app .container-item-app {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 12px rgba(50, 150, 120, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: all 0.5s ease;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .list-app-mobile .list-app .grid-container-app .grid-item-app .container-item-app:hover {
  cursor: pointer;
  transform: translateY(-3px);
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .list-app-mobile .list-app .grid-container-app .grid-item-app .container-item-app:hover .app-name {
  color: rgb(50, 150, 120);
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .list-app-mobile .list-app .grid-container-app .grid-item-app .container-item-app:hover .total-question {
  color: rgb(50, 150, 120);
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .list-app-mobile .list-app .grid-container-app .grid-item-app .container-item-app:hover .dot {
  color: rgb(50, 150, 120);
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .list-app-mobile .list-app .grid-container-app .grid-item-app .container-item-app:hover .question {
  color: rgb(50, 150, 120);
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .list-app-mobile .list-app .grid-container-app .grid-item-app .container-item-app .app-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .list-app-mobile .list-app .grid-container-app .grid-item-app .container-item-app .total-question {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-right: 3px;
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .list-app-mobile .list-app .grid-container-app .grid-item-app .container-item-app .dot {
  margin: 0px 3px 0px 3px;
  color: rgb(184, 184, 184);
}
.apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .list-app-mobile .list-app .grid-container-app .grid-item-app .container-item-app .question {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: rgb(184, 184, 184);
}
.apps-section-v0 .list-app-web {
  display: none;
}
@media screen and (min-width: 769px) {
  .apps-section-v0 .container-apps-section-v0 {
    margin-top: 50px;
    align-items: center;
    position: relative;
  }
  .apps-section-v0 .container-apps-section-v0 ._blank {
    margin-top: 10px;
    display: block;
    height: 20px;
    align-self: flex-start;
  }
  .apps-section-v0 .container-apps-section-v0 ._blank #triangle {
    width: 0;
    height: 0;
    margin-left: 92px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgba(50, 150, 120, 0.04);
    transition: 0.2s all ease;
  }
  .apps-section-v0 .container-apps-section-v0 .title-apps-section-web {
    display: inline;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    color: rgb(34, 17, 34);
    text-align: center;
  }
  .apps-section-v0 .container-apps-section-v0 .title-apps-section-web .text-edit {
    margin: 0px 6px 0px 6px;
    color: rgb(50, 150, 120);
  }
  .apps-section-v0 .container-apps-section-v0 .title-apps-section-mobile {
    display: none;
  }
  .apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 40px;
  }
  .apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 {
    width: 205px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1230px) {
  .apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 {
    width: 160px;
  }
}
@media screen and (min-width: 769px) {
  .apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0:hover {
    transform: none;
    background-color: transparent;
  }
  .apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .category-app-item {
    max-width: 205px;
    height: 166px;
    border-radius: 10px;
  }
  .apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .category-app-item.active {
    background-color: rgba(50, 150, 120, 0.04);
  }
  .apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .category-app-item:hover {
    transform: translateY(-3px);
    transition-duration: 0.5s;
    transition-timing-function: ease;
    cursor: pointer;
    background-color: rgba(50, 150, 120, 0.04);
  }
  .apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .category-app-item:hover .title-category-app {
    color: rgb(50, 150, 120);
  }
  .apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .category-app-item:hover .icon {
    color: rgb(50, 150, 120);
  }
  .apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .category-app-item .container-app-item {
    padding: 24px;
  }
  .apps-section-v0 .container-apps-section-v0 .content-apps-section-v0 .container-category-app-v0 .category-app-item .container-app-item .title-category-app {
    max-width: 120px;
    width: 120px;
  }
  .apps-section-v0 .list-app-web {
    display: inline;
  }
  .apps-section-v0 .list-app-web .list-app {
    width: 100%;
    background-color: rgba(50, 150, 120, 0.04);
  }
  .apps-section-v0 .list-app-web .list-app .grid-container-app {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 970px) {
  .apps-section-v0 .list-app-web .list-app .grid-container-app {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (min-width: 769px) {
  .apps-section-v0 .list-app-web .list-app .grid-container-app .grid-item-app {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(50, 150, 120, 0.08);
    display: flex;
  }
  .apps-section-v0 .list-app-web .list-app .grid-container-app .grid-item-app .container-item-app {
    font-size: 30px;
    border-radius: 8px;
    text-align: center;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.5s ease;
  }
  .apps-section-v0 .list-app-web .list-app .grid-container-app .grid-item-app .container-item-app:hover {
    transform: translateY(-3px);
  }
  .apps-section-v0 .list-app-web .list-app .grid-container-app .grid-item-app .container-item-app:hover .app-name {
    color: rgb(50, 150, 120);
  }
  .apps-section-v0 .list-app-web .list-app .grid-container-app .grid-item-app .container-item-app:hover .total-question {
    color: rgb(50, 150, 120);
  }
  .apps-section-v0 .list-app-web .list-app .grid-container-app .grid-item-app .container-item-app:hover .dot {
    color: rgb(50, 150, 120);
  }
  .apps-section-v0 .list-app-web .list-app .grid-container-app .grid-item-app .container-item-app:hover .question {
    color: rgb(50, 150, 120);
  }
  .apps-section-v0 .list-app-web .list-app .grid-container-app .grid-item-app .container-item-app .app-name {
    max-width: 140px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  .apps-section-v0 .list-app-web .list-app .grid-container-app .grid-item-app .container-item-app .total-question {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-right: 3px;
  }
  .apps-section-v0 .list-app-web .list-app .grid-container-app .grid-item-app .container-item-app .dot {
    margin: 0px 3px 0px 3px;
    color: rgb(184, 184, 184);
  }
  .apps-section-v0 .list-app-web .list-app .grid-container-app .grid-item-app .container-item-app .question {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: rgb(184, 184, 184);
  }
  .apps-section-v0 .list-app-mobile {
    display: none;
  }
}/*# sourceMappingURL=AppsSectionV0.css.map */