.apps-section-v0 {
    width: 100%;

    .container-apps-section-v0 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        .title-apps-section-mobile {
            font-size: 24px;
            font-weight: 600;
            line-height: 35px;
            color: rgba(34, 17, 34, 1);
            margin-bottom: 20px;
            margin-top: 70px;
            text-align: center;

            .text-edit {
                margin: 0px 6px 0px 6px;
                color: rgba(50, 150, 120, 1);
            }
        }

        .title-apps-section-web {
            display: none;
        }



        .content-apps-section-v0 {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .container-category-app-v0 {
                width: 100%;
                transition: all 0.3s ease;

                &:hover {
                    transform: translateY(-3px);
                    background-color: rgba(50, 150, 120, .04);
                }

                .category-app-item {
                    // width: 100%;
                    height: 100%;
                    // border-radius: 10px;
                    transition: all 0.3s ease;
                    align-items: center;

                    &.active {
                        transition: 0.2s all ease;

                        span {
                            color: rgba(50, 150, 120, 1);
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 27px;
                            text-transform: capitalize;
                        }
                    }

                    .container-app-item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 10px;

                        .title-category-app {
                            margin: 24px;
                            text-align: center;
                        }



                    }
                }

                .list-app-mobile {
                    width: 100%;

                    .list-app {
                        width: 100%;
                        align-items: center;
                        text-align: center;

                        .grid-container-app {
                            display: flex;
                            flex-direction: column;
                            padding: 0px;

                            .grid-item-app {
                                text-decoration: none;
                                align-items: center;
                                margin: 10px;

                                .container-item-app {
                                    border-radius: 8px;
                                    // margin-bottom: 20px;
                                    background-color: rgba(255, 255, 255, 1);
                                    box-shadow: 0 4px 12px rgba(50, 150, 120, .08);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 15px;
                                    transition: all 0.5s ease;

                                    &:hover {
                                        cursor: pointer;
                                        transform: translateY(-3px);

                                        .app-name {
                                            color: rgba(50, 150, 120, 1);
                                        }

                                        .total-question {
                                            color: rgba(50, 150, 120, 1);
                                        }

                                        .dot {
                                            color: rgba(50, 150, 120, 1);
                                        }

                                        .question {
                                            color: rgba(50, 150, 120, 1);
                                        }
                                    }

                                    .app-name {
                                        font-weight: 600;
                                        font-size: 18px;
                                        line-height: 27px;

                                    }

                                    .total-question {
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 21px;
                                        margin-right: 3px;

                                    }

                                    .dot {
                                        margin: 0px 3px 0px 3px;
                                        color: rgba(184, 184, 184, 1);
                                    }

                                    .question {
                                        font-weight: 600;
                                        font-size: 12px;
                                        line-height: 18px;
                                        color: rgba(184, 184, 184, 1);
                                    }
                                }

                            }
                        }
                    }
                }
            }

        }
    }

    .list-app-web {
        display: none;
    }

    @media screen and (min-width : 769px) {
        .container-apps-section-v0 {
            margin-top: 50px;
            align-items: center;
            position: relative;

            ._blank {
                margin-top: 10px;
                display: block;
                height: 20px;
                align-self: flex-start;

                #triangle {
                    width: 0;
                    height: 0;
                    margin-left: 92px;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid rgba(50, 150, 120, 0.04);
                    transition: 0.2s all ease;
                }
            }



            .title-apps-section-web {
                display: inline;
                font-size: 40px;
                font-weight: 600;
                line-height: 60px;
                color: rgba(34, 17, 34, 1);
                text-align: center;

                .text-edit {
                    margin: 0px 6px 0px 6px;
                    color: rgba(50, 150, 120, 1);
                }
            }

            .title-apps-section-mobile {
                display: none;
            }



            .content-apps-section-v0 {
                flex-direction: row;
                width: 100%;
                justify-content: space-around;
                margin-top: 40px;


                .container-category-app-v0 {
                    width: 205px;

                    @media screen and (max-width : 1230px) {
                        width: 160px
                    }

                    &:hover {
                        transform: none;
                        background-color: transparent;
                    }

                    .category-app-item {
                        max-width: 205px;
                        height: 166px;
                        border-radius: 10px;

                        &.active {
                            background-color: rgba(50, 150, 120, 0.04);
                        }

                        &:hover {
                            transform: translateY(-3px);
                            transition-duration: 0.5s;
                            transition-timing-function: ease;
                            cursor: pointer;
                            background-color: rgba(50, 150, 120, 0.04);

                            .title-category-app {
                                color: rgba(50, 150, 120, 1);
                            }

                            .icon {
                                color: rgba(50, 150, 120, 1);
                            }
                        }

                        .container-app-item {
                            padding: 24px;

                            .title-category-app {
                                max-width: 120px;
                                width: 120px;
                            }
                        }

                    }
                }

            }


        }

        .list-app-web {
            display: inline;

            .list-app {
                width: 100%;
                background-color: rgba(50, 150, 120, .04);

                .grid-container-app {
                    display: grid;
                    grid-template-columns: auto auto auto auto;
                    padding: 10px;
                    width: 100%;

                    @media screen and (max-width: 970px) {
                        grid-template-columns: auto auto auto;
                    }

                    .grid-item-app {
                        text-decoration: none;
                        background-color: rgba(255, 255, 255, 0.8);
                        margin: 10px;
                        border-radius: 8px;
                        text-align: center;
                        justify-content: center;
                        box-shadow: 0 4px 12px rgba(50, 150, 120, .08);
                        display: flex;


                        .container-item-app {
                            font-size: 30px;
                            border-radius: 8px;
                            text-align: center;
                            background-color: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 16px 20px;
                            cursor: pointer;
                            border-radius: 8px;
                            transition: all 0.5s ease;

                            &:hover {
                                transform: translateY(-3px);

                                .app-name {
                                    color: rgba(50, 150, 120, 1);
                                }

                                .total-question {
                                    color: rgba(50, 150, 120, 1);
                                }

                                .dot {
                                    color: rgba(50, 150, 120, 1);
                                }

                                .question {
                                    color: rgba(50, 150, 120, 1);
                                }
                            }

                            .app-name {
                                max-width: 140px;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 27px
                            }

                            .total-question {
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 21px;
                                margin-right: 3px;

                            }

                            .dot {
                                margin: 0px 3px 0px 3px;
                                color: rgba(184, 184, 184, 1);
                            }

                            .question {
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 18px;
                                color: rgba(184, 184, 184, 1);
                            }
                        }


                    }
                }
            }
        }

        .list-app-mobile {
            display: none;
        }
    }

}