.seo-widget {
    .container-content-seo {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 120px 10px 0px 10px;

        .text-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .container-text {
                text-align: center;
                margin-top: 50px;

                .title-seo {
                    font-size: 36px;
                    font-weight: 600;
                    line-height: 54px;
                    text-transform: uppercase;
                }

                .description-seo {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    color: #848484;
                }
            }
        }

        .container-img-mobile {
            box-sizing: border-box;
            display: block;
            max-width: 100%;

            img {
                width: 242px;
                height: auto;
            }
        }

        .container-img-web {
            display: none;
        }
    }

    @media screen and (min-width: 769px) {
        .container-content-seo {
            display: flex;
            flex-direction: row;
            margin-top: 150px;

            .text-content {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: start;

                .container-text {
                    max-width: 504px;
                    max-height: 400px;
                    text-align: start;
                    margin-top: -120px;

                    .title-seo {
                        font-size: 40px;
                        line-height: 60px;
                    }

                    .description-seo {
                        max-width: 450px;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                    }
                }
            }

            .container-img-web {
                width: 500px;
                z-index: 1;
                justify-content: center;
                height: 500px;
                align-items: center;
                display: flex;
                flex-direction: column;

                img {
                    width: 500px;
                    height: auto;
                }

                @media screen and (max-width: 1200px) {
                    img {
                        width: 457px;
                        height: auto;
                    }
                }

                @media screen and (max-width: 992px) {
                    img {
                        width: 373px;
                        height: auto;
                    }
                }
            }

            .container-img-mobile {
                display: none;
            }
        }
    }
}
