.slider-component-v0 {
    justify-content: space-between;
    position: relative;

    .only-dots {
        display: none;
    }

    .group-dots {
        display: none;
    }

    .slider-v0 {
        .slider-comment {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;

            .slider-container {
                border-radius: 10px;
                padding: 32px 64px;
                max-width: 800px;
                min-height: 200px;
                margin: auto;
                position: relative;
                margin-top: 20px;
                background-color: #329678;

                p {
                    color: white;
                    width: auto;
                    font-size: 18px;
                    line-height: 27px;
                    font-weight: 500;
                    text-align: center;
                }

                .slider-double-quotes {
                    position: absolute;
                    right: 20px;
                    top: -20px;
                }
            }

            .slider-frame {
                margin-top: 50px;

                .frame {
                    display: inline-block;
                    width: 72px;
                    height: 72px;
                    border-radius: 10px;
                }
            }
        }

        .slick-slider {
            .slick-dots li {
                & {
                    width: 50px;
                }

                @media screen and (max-width: 425px) {
                    display: none;
                }

                @media screen and (max-width: 768px) {
                    width: 30px;
                }

                button:before {
                    content: "" !important;
                    background: var(--main-color);
                    width: 100% !important;
                    height: 4px !important;
                    opacity: 0.3;
                    transform: translateX(10px);
                    // content: "";
                    // width: 15px;
                    // background: red;
                }
            }

            .slick-active {
                button:before {
                    opacity: 1 !important;
                }
            }
        }
    }

    @media screen and (min-width: 769px) {
        margin-bottom: 150px;
        z-index: 0;

        .only-dots {
            display: inline;
            left: 0;
            bottom: 120px;
            position: absolute;
        }

        .group-dots {
            right: 0;
            bottom: -75px;
            position: absolute;
            display: inline;

            .dots-svg {
                flex: 1;
                margin-right: 20px;
            }

            .dots-svg:last-child {
                margin-right: 0;
            }
        }

        .slider-v0 {
            .slider-comment {
                .userName {
                    padding-top: 24px;
                    padding-bottom: 40px;
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center;
                    color: #329678;
                }
            }
        }
    }
}
