:root {
     --main-color: #343FA4;
     --main-color-bold: #263195;
     --main-background-color: #F0F2FE;
     --cookie: #232e95;
     --bg-color-start-test: #EB4B3D;
     --bg-color-close-cookie: #343FA4;
     --main-color-upgrade-pro: #329678;
     --color-clock-discount: #333650;
}
