@import "config.css"; /*  Using a string */
html,
body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    width: 100%;
    background: var(--main-background-color);
}
/* font-family: 'Sora', sans-serif; */
:root {
    --background: rgb(255, 255, 255);
}
[data-theme="dark"] {
    --background: rgb(33, 33, 33);
}

* {
    font-family: "Sora", sans-serif;
    color: #212121;
}

.flex {
    display: flex;
}
.align-center {
    display: flex;
    align-items: center;
}

.font-14 {
    font-size: 14px;
    line-height: 20px;
}

.font-16 {
    font-size: 16px;
    line-height: 24px;
}

.overflow-auto {
    overflow: auto;
}

/* width */
.overflow-auto::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.overflow-auto::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.overflow-auto::-webkit-scrollbar-thumb {
    background: rgba(33, 33, 33, 0.12);
    border-radius: 10px;
}

/* Handle on hover */
.overflow-auto::-webkit-scrollbar-thumb:hover {
    background: rgba(33, 33, 33, 0.32);
}

.v4-border-radius {
    border-radius: 6px;
    overflow: hidden;
}

.v4-font-semi-bold {
    /* font-family: "Poppins-Semibold"; */
    font-weight: 500; /* for safari using strong, h1, h2, h3,h4 ,.. element*/
}
.v4-font-size-12 {
    font-size: 12px;
}

.v4-font-size-14 {
    font-size: 14px;
}

.v4-font-size-16 {
    font-size: 16px;
}

.v4-flex {
    display: flex;
}

.v4-button-animtaion {
    transition: transform 0.15s ease, opacity 0.2s;
}
.v4-button-animtaion:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}
