@import "config.css"; /*  Using a string */
html,
body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    width: 100%;
}
/* font-family: 'Sora', sans-serif; */
:root {
    --background: rgb(255, 255, 255);
}
[data-theme="dark"] {
    --background: rgb(33, 33, 33);
}

* {
    font-family: "Sora", sans-serif;
}
