@import "config.css"; /*  Using a string */
html,
body {
    /* để customize drawer, dialog neen set height của 2 cái này  là 100% và overflow = hidden để tránh bị trượt khi bật popup/drawer, còn thành phần giúp scroll là __next*/
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* position: absolute; */
    height: 100%;
    width: 100%;
    background: var(--main-background-color);
}
/* font-family: 'Sora', sans-serif; */
:root {
    --background: rgb(255, 255, 255);
}
[data-theme="dark"] {
    --background: rgb(33, 33, 33);
}

* {
    font-family: "Sora", sans-serif;
}

span,
div,
h1,
h2,
h3,
h4,
h5,
p {
    color: #212121;
}

.flex {
    display: flex;
}
.align-center {
    display: flex;
    align-items: center;
}

.font-14 {
    font-size: 14px;
    line-height: 20px;
}

.font-16 {
    font-size: 16px;
    line-height: 24px;
}

.overflow-auto {
    overflow: auto;
}

/* width */
.overflow-auto::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.overflow-auto::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.overflow-auto::-webkit-scrollbar-thumb {
    background: rgba(33, 33, 33, 0.12);
    border-radius: 10px;
}

/* Handle on hover */
.overflow-auto::-webkit-scrollbar-thumb:hover {
    background: rgba(33, 33, 33, 0.32);
}

.v4-border-radius {
    border-radius: 6px;
    overflow: hidden;
}

.v4-font-semi-bold {
    /* font-weight: 600; */
    font-weight: 500; /* for safari using strong, h1, h2, h3,h4 ,.. element*/
}
.v4-font-size-12 {
    font-size: 12px;
}

.v4-font-size-14 {
    font-size: 14px;
}

.v4-font-size-16 {
    font-size: 16px;
}

.v4-flex {
    display: flex;
}

.v4-button-animtaion {
    transition: transform 0.15s ease, opacity 0.2s;
}
.v4-button-animtaion:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}

#__next {
    width: 100%;
    height: 100vh;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 8px;
        display: block !important;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #fff;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #c9c9c9;
        border-radius: 8px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #adadad;
    }
}
