*,
::before,
::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
}

*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

::before,
::after {
    --tw-content: "";
}

abbr:where([title]) {
    text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

.container {
    width: 100%;
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
.\!collapse {
    visibility: collapse !important;
}
.collapse {
    visibility: collapse;
}
.static {
    position: static;
}
.fixed {
    position: fixed;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.-left-12 {
    left: -3rem;
}
.-right-12 {
    right: -3rem;
}
.bottom-0 {
    bottom: 0px;
}
.bottom-2 {
    bottom: 0.5rem;
}
.-bottom-1 {
    bottom: -0.25rem;
}
.left-0 {
    left: 0px;
}
.right-0 {
    right: 0px;
}
.top-0 {
    top: 0px;
}
.top-1 {
    top: 0.25rem;
}
.z-0 {
    z-index: 0;
}
.z-10 {
    z-index: 10;
}
.z-20 {
    z-index: 20;
}
.m-\[0\] {
    margin: 0;
}
.m-0 {
    margin: 0;
}
.mb-\[19px\] {
    margin-bottom: 19px;
}
.mr-4 {
    margin-right: 1rem;
}
.mt-3 {
    margin-top: 0.75rem;
}
.mt-4 {
    margin-top: 1rem;
}
.mt-6 {
    margin-top: 1.5rem;
}
.mt-8 {
    margin-top: 2rem;
}
.mt-\[24px\] {
    margin-top: 24px;
}
.mt-\[32px\] {
    margin-top: 32px;
}
.mt-\[4px\] {
    margin-top: 4px;
}
.mt-\[8px\] {
    margin-top: 8px;
}
.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.block {
    display: block;
}
.inline {
    display: inline;
}
.flex {
    display: flex;
}
.table {
    display: table;
}
.grid {
    display: grid;
}
.contents {
    display: contents;
}
.hidden {
    display: none;
}
.aspect-square {
    aspect-ratio: 1 / 1;
}
.aspect-video {
    aspect-ratio: 16 / 9;
}
.h-10 {
    height: 2.5rem;
}
.h-12 {
    height: 3rem;
}
.h-6 {
    height: 1.5rem;
}
.h-8 {
    height: 2rem;
}
.h-\[885px\] {
    height: 885px;
}
.h-fit {
    height: fit-content;
}
.h-full {
    height: 100%;
}
.max-h-12 {
    max-height: 3rem;
}
.max-h-\[184px\] {
    max-height: 184px;
}
.w-1\/2 {
    width: 50%;
}
.w-10 {
    width: 2.5rem;
}
.w-6 {
    width: 1.5rem;
}
.w-8 {
    width: 2rem;
}
.w-fit {
    width: fit-content;
}
.w-full {
    width: 100%;
}
.w-silder_2\/3 {
    width: calc((100% / 2) - 24px);
}
.max-w-\[480px\] {
    max-width: 480px;
}
.max-w-\[512px\] {
    max-width: 512px;
}
.flex-1 {
    flex: 1 1 0%;
}
.flex-shrink-0 {
    flex-shrink: 0;
}
.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
        skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
    cursor: pointer;
}
.resize-none {
    resize: none;
}
.list-inside {
    list-style-position: inside;
}
.list-disc {
    list-style-type: disc;
}
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.flex-col-reverse {
    flex-direction: column-reverse;
}
.flex-wrap {
    flex-wrap: wrap;
}
.content-center {
    align-content: center;
}
.items-center {
    align-items: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.gap-1 {
    gap: 0.25rem;
}
.gap-2 {
    gap: 0.5rem;
}
.gap-4 {
    gap: 1rem;
}
.gap-6 {
    gap: 1.5rem;
}
.gap-8 {
    gap: 2rem;
}
.gap-\[10px\] {
    gap: 10px;
}
.gap-\[4px\] {
    gap: 4px;
}
.overflow-auto {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.whitespace-nowrap {
    white-space: nowrap;
}
.rounded-2xl {
    border-radius: 1rem;
}
.rounded-\[8px\] {
    border-radius: 8px;
}
.rounded-full {
    border-radius: 9999px;
}
.rounded-lg {
    border-radius: 0.5rem;
}
.border {
    border-width: 1px;
}
.border-2 {
    border-width: 2px;
}
.border-solid {
    border-style: solid;
}
.border-none {
    border-style: none;
}
.border-\[\#21212129\] {
    border-color: #21212129;
}
.border-\[\#343F82\] {
    --tw-border-opacity: 1;
    border-color: rgb(52 63 130 / var(--tw-border-opacity, 1));
}
.bg-\[\#343F82\] {
    --tw-bg-opacity: 1;
    background-color: rgb(52 63 130 / var(--tw-bg-opacity, 1));
}
.bg-\[\#E6E9FD\] {
    --tw-bg-opacity: 1;
    background-color: rgb(230 233 253 / var(--tw-bg-opacity, 1));
}
.bg-\[\#E6EAFF\] {
    --tw-bg-opacity: 1;
    background-color: rgb(230 234 255 / var(--tw-bg-opacity, 1));
}
.bg-transparent {
    background-color: transparent;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.bg-\[url\(\'\/public\/images\/contacts\/cdl\/truck-contact-page\.png\'\)\] {
    background-image: url("/public/images/contacts/cdl/truck-contact-page.png");
}
.bg-cover {
    background-size: cover;
}
.bg-center {
    background-position: center;
}
.object-cover {
    object-fit: cover;
}
.p-0 {
    padding: 0px;
}
.p-2 {
    padding: 0.5rem;
}
.p-4 {
    padding: 1rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.px-\[24px\] {
    padding-left: 24px;
    padding-right: 24px;
}
.px-\[8px\] {
    padding-left: 8px;
    padding-right: 8px;
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.py-\[16px\] {
    padding-top: 16px;
    padding-bottom: 16px;
}
.pb-12 {
    padding-bottom: 3rem;
}
.pb-6 {
    padding-bottom: 1.5rem;
}
.pb-\[48px\] {
    padding-bottom: 48px;
}
.pl-1 {
    padding-left: 0.25rem;
}
.pl-2 {
    padding-left: 0.5rem;
}
.pl-6 {
    padding-left: 1.5rem;
}
.pt-6 {
    padding-top: 1.5rem;
}
.pl-\[80px\] {
    padding-left: 80px;
}
.pr-\[80px\] {
    padding-right: 80px;
}
.pr-0 {
    padding-right: 0;
}
.pt-2 {
    padding-top: 0.5rem;
}
.pt-3 {
    padding-top: 0.75rem;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.pt-4 {
    padding-top: 1rem;
}
.pt-\[24px\] {
    padding-top: 24px;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.font-poppins {
    font-family: var(--font-poppins);
}
.text-inherit {
    color: inherit;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-\[14px\] {
    font-size: 14px;
}
.text-\[16px\] {
    font-size: 16px;
}
.text-\[18px\] {
    font-size: 18px;
}
.text-\[32px\] {
    font-size: 32px;
}
.text-\[52px\] {
    font-size: 52px;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.font-bold {
    font-weight: 700;
}
.font-medium {
    font-weight: 500;
}
.font-normal {
    font-weight: 400;
}
.font-semibold {
    font-weight: 600;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.leading-\[21px\] {
    line-height: 21px;
}
.leading-\[24px\] {
    line-height: 24px;
}
.leading-\[27px\] {
    line-height: 27px;
}
.leading-\[48px\] {
    line-height: 48px;
}
.leading-\[78px\] {
    line-height: 78px;
}
.text-\[\#21212185\] {
    color: #21212185;
}
.text-\[\#212121CC\] {
    color: #212121cc;
}
.text-\[\#212121\] {
    --tw-text-opacity: 1;
    color: rgb(33 33 33 / var(--tw-text-opacity, 1));
}
.text-\[\#343F82\] {
    --tw-text-opacity: 1;
    color: rgb(52 63 130 / var(--tw-text-opacity, 1));
}
.text-\[\#3477F5\] {
    --tw-text-opacity: 1;
    color: rgb(52 119 245 / var(--tw-text-opacity, 1));
}
.text-\[\#4E60CA\] {
    --tw-text-opacity: 1;
    color: rgb(78 96 202 / var(--tw-text-opacity, 1));
}
.text-\[\#FD5F57\] {
    --tw-text-opacity: 1;
    color: rgb(253 95 87 / var(--tw-text-opacity, 1));
}
.text-\[\#FFFFFFCC\] {
    color: #ffffffcc;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.underline {
    text-decoration-line: underline;
}
.placeholder-\[\#21212185\]::placeholder {
    color: #21212185;
}
.placeholder-opacity-80::placeholder {
    --tw-placeholder-opacity: 0.8;
}
.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.outline {
    outline-style: solid;
}
.blur {
    --tw-blur: blur(8px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
        var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
        var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
        transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.marker\:text-black *::marker {
    color: rgb(0 0 0);
}
.marker\:text-black::marker {
    color: rgb(0 0 0);
}
.hover\:scale-105:hover {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
        skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:bg-slate-400:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(148 163 184 / var(--tw-bg-opacity, 1));
}
.hover\:opacity-80:hover {
    opacity: 0.8;
}
.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
@media (min-width: 640px) {
    .sm\:static {
        position: static;
    }

    .sm\:absolute {
        position: absolute;
    }

    .sm\:mt-12 {
        margin-top: 3rem;
    }

    .sm\:mt-4 {
        margin-top: 1rem;
    }

    .sm\:mt-6 {
        margin-top: 1.5rem;
    }

    .sm\:mt-8 {
        margin-top: 2rem;
    }

    .sm\:line-clamp-2 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .sm\:block {
        display: block;
    }

    .sm\:flex {
        display: flex;
    }

    .sm\:hidden {
        display: none;
    }

    .sm\:aspect-video {
        aspect-ratio: 16 / 9;
    }
    .sm\:py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .sm\:h-16 {
        height: 4rem;
    }
    .sm\:pr-0 {
        padding-right: 0;
    }

    .sm\:h-6 {
        height: 1.5rem;
    }
    .sm\:py-6 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .sm\:pl-6 {
        padding-left: 1.5rem;
    }
    .sm\:h-\[325px\] {
        height: 325px;
    }

    .sm\:w-16 {
        width: 4rem;
    }

    .sm\:w-\[400px\] {
        width: 400px;
    }

    .sm\:w-fit {
        width: fit-content;
    }

    .sm\:w-full {
        width: 100%;
    }

    .sm\:w-slider {
        width: calc((100% / 3) - 48px);
    }

    .sm\:max-w-\[718px\] {
        max-width: 718px;
    }

    .sm\:max-w-\[800px\] {
        max-width: 800px;
    }

    .sm\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .sm\:flex-row {
        flex-direction: row;
    }

    .sm\:flex-col {
        flex-direction: column;
    }

    .sm\:gap-0 {
        gap: 0px;
    }

    .sm\:gap-6 {
        gap: 1.5rem;
    }

    .sm\:gap-8 {
        gap: 2rem;
    }

    .sm\:whitespace-normal {
        white-space: normal;
    }

    .sm\:rounded-none {
        border-radius: 0px;
    }

    .sm\:bg-white {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    }

    .sm\:p-0 {
        padding: 0px;
    }

    .sm\:p-4 {
        padding: 1rem;
    }

    .sm\:p-6 {
        padding: 1.5rem;
    }

    .sm\:px-0 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .sm\:py-12 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .sm\:py-\[48px\] {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .sm\:pb-12 {
        padding-bottom: 3rem;
    }

    .sm\:pb-\[120px\] {
        padding-bottom: 120px;
    }

    .sm\:pt-4 {
        padding-top: 1rem;
    }

    .sm\:pt-6 {
        padding-top: 1.5rem;
    }
    .sm\:pt-12 {
        padding-top: 3rem;
    }
    .sm\:text-start {
        text-align: start;
    }

    .sm\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .sm\:text-\[38px\] {
        font-size: 38px;
    }

    .sm\:text-\[40px\] {
        font-size: 40px;
    }

    .sm\:text-\[48px\] {
        font-size: 48px;
    }

    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .sm\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .sm\:text-sm {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .sm\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .sm\:font-normal {
        font-weight: 400;
    }
    .sm\:font-medium {
        font-weight: 500;
    }
    .sm\:font-semibold {
        font-weight: 600;
    }

    .sm\:leading-\[60px\] {
        line-height: 60px;
    }

    .sm\:leading-\[68px\] {
        line-height: 68px;
    }

    .sm\:leading-\[72px\] {
        line-height: 72px;
    }

    .sm\:text-\[\#212121\] {
        --tw-text-opacity: 1;
        color: rgb(33 33 33 / var(--tw-text-opacity, 1));
    }
}
@media (min-width: 1024px) {
    .lg\:h-\[196px\] {
        height: 196px;
    }

    .lg\:w-\[196px\] {
        width: 196px;
    }
}
