.store-archievement-container {
    max-width: 1300px;
    width: calc(100% - 32px);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .platform-wrapper {
        min-height: 48px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
        .img-wrapper {
            justify-content: center;
            display: flex;
            height: 24px;
            img {
                height: 24px;
            }
        }
    }

    @media screen and (min-width: 769px) {
        width: calc(100% - 140px);
        .platform-wrapper {
            .img-wrapper {
                height: 48px;
                img {
                    height: 48px;
                }
            }
        }
    }

    @media screen and (min-width: 1201px) {
        .platform-wrapper {
            gap: 12px;
            flex-direction: row;
        }
    }
}
