.v4-answer-sheet-container-0 {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    > h3 {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        margin: 0;
        text-transform: capitalize;
    }
    .v4-answer-sheet-grid-question-0 {
        padding-top: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 6px;
        grid-gap: 6px;
        width: fit-content;
        .v4-answer-sheet-grid-item {
            cursor: pointer;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 12px;
            border: 1px solid rgba(33, 33, 33, 0.078);
            border-radius: 4px;
            transition: 0.2s all;
            user-select: none;
            &.disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
            &.answered {
                opacity: 1;
                border-color: #212121;
            }
            &.correct {
                opacity: 1;
                border-color: #59d2a7;
            }
            &.incorrect {
                opacity: 1;
                border-color: #fb7072;
            }
            &.current {
                border: 1px solid #3b82f6;
                background-color: rgba(59, 130, 246, 0.078);
                opacity: 1;
            }
            &:hover {
                background-color: rgba(33, 33, 33, 0.039);
            }
        }
    }
}
