.v4-choices-panel-0 {
    padding-top: 12px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    grid-gap: 4px;
    .v4-answer-button {
        padding: 12px 16px;
        background-color: #fff;
        border: 2px solid rgba(33, 33, 33, 0.078);
        cursor: pointer;
        transition: 0.2s border-color ease;
        will-change: border-color;
        text-align: left;
        font-size: 14px;
        line-height: 18px;

        .check-box {
            width: 14px;
            height: 14px;
            flex: none;
            border-radius: 2px;
            border: 2px solid #737373;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                display: none;
            }
        }

        &:hover:not(&.review),
        &.selected {
            background-color: hsla(0, 0%, 13%, 0.039);
        }

        &.selected {
            border-color: rgba(33, 33, 33, 0.3);
            .check-box {
                background-color: #737373;
                svg {
                    display: block;
                }
            }
        }
        &.correct {
            border-color: #00c17c;

            .check-box {
                background-color: #00c17c;
                border-color: #00c17c;
                svg {
                    display: block;
                }
            }
        }

        &.failed {
            border-color: #fb7072;

            .check-box {
                background-color: #fb7072;
                border-color: #fb7072;
                svg {
                    display: block;
                }
            }
        }

        .v4-answered-content {
            align-items: center;

            .v4-answer-button-content {
                padding-left: 8px;
            }
        }
    }
    @media screen and (min-width: 769px) {
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        grid-gap: 12px;
        .v4-answer-button {
            font-size: 16px;
            line-height: 20px;
        }
    }
}
