.v4-question-panel {
    position: relative;
    margin-top: 16px;

    .v4-question-panel-content {
        background-color: #fff;
        padding: 12px;
        padding-bottom: 16px;
    }
    .v4-explanation-detail {
        padding-top: 24px;
        .v4-explanation-detail-title {
            color: #004fc2;
            font-size: 12px;
            line-height: 18px;
        }

        // .v4-explanation {
        //     padding-top: 8px;
        //     font-size: 12px;
        // }
    }
}

@media screen and (min-width: 769px) {
    .v4-question-panel {
        margin-top: 0;

        &:first-child {
            border-top: none;
        }

        .v4-question-panel-content {
            padding: 0;
            padding-bottom: 24px;
            background-color: unset;
        }

        .v4-choices-panel-0 {
            .v4-answer-button {
                background-color: unset;

                &.selected {
                    background: rgba(59, 130, 246, 0.08);
                }
            }
        }

        .v4-explanation-detail {
            .v4-explanation-detail-title {
                font-size: 14px;
                line-height: 21px;
            }

            // .v4-explanation {
            //     font-size: 14px;
            // }
        }
    }
}
