.v4-study-main-view-0 {
    display: flex;
    min-height: 100vh;
    position: relative;
    .v4-main-study-content {
        padding-left: 0;
        width: 100%;
    }
    .v4-study-title {
        color: #212121;
        text-align: center;
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        padding: 16px 0 12px;
        display: none;
        text-transform: capitalize;

        &.unfinish {
            display: block;
        }
        @media screen and (min-width: 769px) {
            font-size: 24px;
            padding: 24px 0 10px;
            line-height: 36px;
            display: block;
        }
    }

    .v4-study-topic-seo-content {
        padding: 24px;
        background: #fff;
        margin-top: 40px;
        margin-bottom: 80px;
        min-height: 128px;
        strong,
        h2,
        b,
        h1,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 600;
            font-weight: 500;
        }
    }

    #v4-main-study-other-content {
        position: absolute;
        top: 100vh;
        transition: 0.2s all;
        &.nested {
            position: relative;
            top: 0;
        }
    }
    @media screen and (min-width: 769px) {
        min-height: calc(100vh - 52px - 1px); //52: header, 1: border

        .v4-study-main-view-left-bar-0 {
            padding-top: 38px;
            width: 290px;
            min-width: 290px; //thêm phần text seo vào thì nó bị dãn ra nên phải đặt tạm thuộc tính này để xử lý;
            padding-bottom: 36px;

            .v4-study-breadcum {
                a {
                    line-height: 20px;
                    color: #212121 !important;
                    text-transform: capitalize;
                }
                img {
                    padding: 0 4px;
                }
                padding-bottom: 12px;
            }

            .v4-study-list-topics-0 {
                padding-top: 16px;
            }

            .v4-study-list-branches-0 {
                padding: 16px;
                background: #fff;
                margin-top: 16px;

                h3 {
                    font-size: 20px;
                    line-height: 30px;
                    margin: 0;
                    padding-bottom: 12px;
                }

                a {
                    color: #3b82f6;
                    text-decoration: underline;
                    padding: 8px 0;
                    display: block;
                    font-size: 14px;
                    transition: 0.2s all;
                    text-transform: capitalize;

                    &:hover {
                        background-color: rgba(33, 33, 33, 0.04);
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid var(--border-color);
                    }
                }
            }
        }

        .v4-main-study-content {
            padding-left: 16px;
        }
    }
}

.v4-end-test-frame {
    height: 241px;
    background: #fff;
}
.header-study-v4-frame {
    height: 60px;
    background-color: #fff;
}
.study-banner-download-frame {
    height: 345px;
    background: #fff;
    margin-top: 24px;
}

.main-study-frame {
    height: calc(100vh - 60px - 52px - 24px - 345px);
}

@media screen and (min-width: 769px) {
    .v4-end-test-frame {
        height: 475px;
    }
    .study-banner-download-frame {
        height: 200px;
        margin-top: 16px;
    }
    .main-study-frame {
        background: #fff;
        height: calc(100vh - 53px - 70px - 16px - 200px - 16px);
    }
}
