.take-learning-to-the-next-level {
    .landing-title {
        position: relative;
        img {
            // 4/3
            position: absolute;
            top: -14px;
            left: -32px;
            width: 64px;
            height: 48px;
        }
        .landing-title-h1 {
            text-transform: capitalize;
            margin: 0;
            font-weight: 600;
            text-shadow: -3px 2px #fff;
            font-size: 32px;
            line-height: 40px;
            .invisible-text {
                color: transparent;
                text-shadow: none;
            }

            .part-color-1 {
                color: #0e636f;
                position: relative;
            }
        }
    }
    figure {
        width: 360px;
        height: 276px;
        background-image: url("/public/images/easy-prep/landing-img.png");
        background-size: cover;
        margin: 0;
    }

    @media screen and (min-width: 769px) {
        .landing-title {
            img {
                top: -32px;
                left: -62px;
                width: 112px;
                height: 84px;
            }
            .landing-title-h1 {
                font-size: 48px;
                line-height: 60px;
                text-shadow: -5px 5px #fff;
                .invisible-text {
                }

                .part-color-1 {
                }
            }
        }
        figure {
            width: 470px;
            height: 360px;
        }
    }
}
