.take-learning-to-the-next-level {
    margin-top: 89px; //24 + 64 + 1
    .align-center.-container {
        flex-direction: column;
    }
    .landing-title {
        position: relative;
        max-width: 342px;
        img {
            // 4/3
            position: absolute;
            top: -14px;
            left: -6px;
            width: 64px;
            height: 48px;
        }
        .landing-title-h1 {
            text-transform: capitalize;
            margin: 0;
            font-weight: 600;
            text-shadow: -3px 2px #fff;
            font-size: 32px;
            line-height: 40px;
            .invisible-text {
                color: transparent;
                text-shadow: none;
                padding-left: 26px;
            }

            .part-color-1 {
                color: #0e636f;
                position: relative;
            }
        }
        p {
            font-size: 16px;
            line-height: 24px;
            color: rgba(33, 33, 33, 0.52);
            text-align: center;
            margin-bottom: 0;
        }
    }
    .img-landing {
        width: 360px;
        height: 276px;
    }

    @media screen and (min-width: 769px) {
        margin-top: 93px; // 40 + 52 + 1
        .align-center.-container {
            flex-direction: row;
            justify-content: space-between;
        }
        .landing-title {
            max-width: 660px;
            img {
                top: -32px;
                left: -10px;
                width: 112px;
                height: 84px;
            }
            .landing-title-h1 {
                font-size: 48px;
                line-height: 60px;
                text-shadow: -5px 5px #fff;
                .invisible-text {
                    padding-left: 50px;
                }

                .part-color-1 {
                }
            }
            p {
                margin-top: 24px;
                font-size: 20px;
                line-height: 26px;
                text-align: left;
            }
        }
        .img-landing {
            width: 470px;
            height: 360px;
        }
    }
}
