$_width: 24px;

.print-question-container {
    width: 100%;
    margin-top: 20px;

    .question-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .choice-print {
        padding: 16px 32px;
        .list-choice-print {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            .answer-index-checkbox {
                border-radius: 3px;
                border: 1px solid #212121;
                width: $_width;
                height: $_width;
                flex: none;
            }

            .answer-index-character {
                border-radius: $_width;
                width: $_width;
                height: $_width;
                border: 1px solid #212121;
                line-height: $_width;
                text-align: center;
                flex: none;
            }
            .answer-content-print {
                margin-left: 16px;
            }
        }
    }

    .v4-question-text {
        font-size: 18px;
        line-height: 27px;
    }
}
