.header-1-container {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background: #fff;
    border-bottom: 1px solid #2121211f;
    .header-grid {
        padding: 0 16px;
        display: grid;
        height: 64px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-frame {
        &.-f1 {
            justify-content: left;
            position: relative;

            .menu-desktop {
                display: none;
            }
        }

        &.-f2 {
            justify-content: center;
        }

        &.-f3 {
            justify-content: right;
            .search-desktop {
                display: none;
            }
        }

        .header-1-menu {
            text-decoration: none;
            cursor: pointer;
        }
    }
    @media screen and (min-width: 769px) {
        .header-grid {
            height: 52px;
            padding: 0 56px;
        }
        .grid-frame {
            .menu-desktop {
                display: flex !important;
            }
            .menu-icon-mobile {
                display: none;
            }
            .header-1-menu {
                margin-right: 24px;

                &.-option-home {
                    width: 44px;
                }
                &.-option-about {
                    width: 45px;
                }
                &.-option-practice-test {
                    width: 132px;
                    background-color: transparent !important;
                    &.active {
                        font-weight: 700;
                    }
                }
                &:hover {
                    font-weight: 700;
                }
            }
            &.-f3 {
                .search-desktop {
                    flex: 1;
                    justify-content: right;
                    display: flex;
                }
                .search-icon-mobile {
                    display: none;
                }
            }
        }
    }
    .-option-practice-test {
        .icon {
            justify-content: center;
            margin-left: 4px;
            transition: 0.15s all ease;
        }
        &.active {
            background-color: rgba(33, 33, 33, 0.04);
            .icon {
                transform: rotate(180deg);
            }
        }
    }
}

// .search-app-frame {
//     width: 100%;
//     background-color: red;
//     @media screen and (min-width: 769px) {
//         max-width: 256px;
//         width: 100%;
//     }
// }

.search-icon-mobile {
    padding: 6px;
}

.search-component-mobile,
.menu-component-mobile {
    position: fixed;
    height: calc(100vh - 16px - 16px);
    background: #fff;
    width: calc(100vw - 16px - 16px);
    top: 0;
    left: 0;
    padding: 16px;

    .cancel-search-btn {
        padding: 4px 0px 4px 16px;
        width: 66px;
    }
}

.menu-component-mobile {
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    > a {
        display: block;
        text-decoration: none;
    }
    .header-1-menu {
        padding: 8px 28px;
        margin-bottom: 12px;
        justify-content: space-between;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }
    .-option-practice-test {
        margin-bottom: 0;
    }
}
#search-component-mobile,
#menu-component-mobile {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.2s all;
    background: #fff;
}

.header-1-category-container-desktop {
    position: fixed;
    top: 55px;
    left: 64px;
}
