.search-component {
    padding: 4px;
    border: 1px solid rgba(33, 33, 33, 0.12);
    background-color: rgba(33, 33, 33, 0.04);
    border-radius: 6px;
    width: 100%;
    height: 32px;
    position: relative;

    input {
        width: 100%;
        padding: 0px 4px;
        border: none;
        background: none;
        line-height: 24px;

        &::placeholder {
            color: rgba(33, 33, 33, 0.22);
        }

        &::-ms-input-placeholder {
            /* Edge 12 -18 */
            color: rgba(33, 33, 33, 0.22);
        }
        &:focus-visible {
            outline-width: 0;
        }
    }

    #search-icon {
        padding: 6px;
        display: flex;
        border-radius: 4px;
        cursor: pointer;
        &.-focus {
            background: #3b82f6;
        }
    }
    .search-result-container {
        border-radius: 10px;
        position: absolute;
        top: 46px;
        left: 0;
        background-color: #fff;
        border: 1px solid #f6f6f6;
        // width: calc(100vw - 16px - 16px);
        width: inherit;
        min-height: 48px;
        max-height: 332px; // = 56*3 + 12+12 + 28*5
        box-shadow: 0 2px 5px 0px rgb(38 51 77 / 4%);
        .no-result {
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            padding-top: 8px;
        }

        .result-item {
            line-height: 20px;
            font-size: 14px;
            padding: 4px 8px;
            font-weight: 600;
            cursor: pointer;

            img {
                margin-right: 12px;
            }

            &:hover {
                background-color: #f0f4f5;
            }
        }
        .history-item {
            padding: 4px 8px;
            cursor: pointer;
            justify-content: space-between;
            span {
                font-size: 14px;
                line-height: 20px;
                color: #9559f7;
                font-weight: 500;
            }
            &:hover {
                background-color: #f0f4f5;
            }
        }
        .result-item:not(:first-child),
        .history-item:not(:first-child) {
            margin-top: 8px;
        }

        #_search-result-container {
            padding: 12px;
        }
    }
    @media screen and (min-width: 769px) {
        max-width: 256px;
        width: 100%;

        .search-result-container {
            width: inherit;

            .result-item {
                padding: 16px 12px 16px 20px;
                margin-top: 0 !important;
            }

            #_search-result-container {
                padding: 0;
            }
        }
    }
}
