:root {
    --alert-text-color: #d70000; //alert text #ff6767
    --btn-send-bgr: #212121;
}
[data-theme="dark"] {
    --alert-text-color: #ff6767;
    --btn-send-bgr: #329678;
}

.v0-footer-theme {
    padding-bottom: 42px;
    position: relative;
    .v0-app-footer {
        .v0-app-footer-logo_footer-option {
            .logo_cirtificate {
                .-logo {
                    padding: 32px 0;
                    border-bottom: 2px solid rgba(204, 213, 223, 0.33);
                    text-align: center;
                }

                .cirtificate_social {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 16px;
                    margin-top: 32px;

                    a {
                        margin-left: 24px;
                    }

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .v0-option-company {
                display: grid;
                grid-template-columns: 1fr 1fr;
                text-align: center;

                a {
                    text-decoration: none;
                    color: var(--font-color);
                    font-size: 16px;
                    line-height: 27px;
                    margin-top: 12px;
                }
            }
        }

        .v0-app-footer-mail-and-social {
            margin-top: 36px;

            .mail-subscribe {
                .subscribe-text {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        margin-right: 16px;
                    }

                    p {
                        margin: 0;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 32px;
                        letter-spacing: 0.1em;
                        color: var(--font-color);
                        text-transform: uppercase;
                    }

                    span {
                        font-size: 12px;
                        line-height: 14px;
                        color: var(--font-color);
                    }
                }
            }
        }

        @media screen and (min-width: 769px) {
            padding: 80px !important;
            border-radius: 60px;
            border: 1px solid rgba(33, 33, 33, 0.52);

            .v0-app-footer-logo_footer-option {
                display: flex;
                justify-content: space-between;

                .logo_cirtificate {
                    width: 20%;

                    .-logo {
                        border: none !important;
                        padding: 0;
                    }

                    a {
                        display: flex;
                        cursor: pointer;
                    }

                    .cirtificate_social {
                        margin-top: 54px;
                    }
                }

                .v0-option-company {
                    width: 20%;
                    display: block;
                    text-align: left;

                    p {
                        margin: 0;
                        font-size: 14px;
                        line-height: 26px;
                        color: var(--font-color-052);
                    }

                    a {
                        text-decoration: none;
                        color: var(--font-color);
                        font-size: 18px;
                        line-height: 27px;
                        display: block;
                        margin-top: 12px;
                        font-weight: 500;
                    }
                }
            }

            .v0-app-footer-mail-and-social {
                display: flex;
                width: 100%;

                .mail-subscribe {
                    width: 80%;

                    .subscribe-text {
                        flex-direction: column;
                        align-items: flex-start;

                        p {
                            text-shadow: 4px 0 gray;
                            font-size: 30px;
                            line-height: 45px;
                        }

                        span {
                            font-size: 14px;
                            line-height: 21px;
                            max-width: 310px;
                        }
                    }
                }

                .v0-social {
                    display: flex;
                    align-items: end;
                    flex-direction: column;
                    width: 20%;
                    padding-top: 112px;

                    a {
                        margin-right: 24px;

                        svg {
                            transition: 0.4s all;
                            width: 35px;
                            height: 35px;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 1024px) {
            .v0-app-footer-mail-and-social {
                .mail-subscribe {
                    width: 60%;
                }

                .v0-social {
                    width: 40%;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }

        @media screen and (min-width: 1144px) {
            .v0-app-footer-mail-and-social {
                .mail-subscribe {
                    width: 50%;
                }

                .v0-social {
                    width: 50%;
                }
            }
        }
    }

    &.parent {
        // config css cho parent app riêng
        background-color: var(--main-color);

        // padding-bottom: 0;
        .v0-app-footer {
            border: none;

            .v0-app-footer-logo_footer-option {
                .logo_cirtificate {
                    .-logo {
                        border-bottom: 2px solid #fff;
                    }
                }

                .v0-option-company {
                    p {
                        color: rgba(255, 255, 255, 0.52);
                    }

                    a {
                        color: #fff;
                    }
                }
            }

            .v0-app-footer-mail-and-social {
                .mail-subscribe {
                    .subscribe-text {
                        p {
                            text-shadow: 4px 0 rgba(255, 255, 255, 0.52);
                            color: #fff;
                        }

                        span {
                            color: #fff;
                        }
                    }

                    input {
                        color: #fff !important;
                        border-bottom: 1px solid #fff !important;

                        &::placeholder {
                            color: rgb(255, 255, 255, 0.52) !important;
                        }

                        &:-ms-input-placeholder {
                            color: rgb(255, 255, 255, 0.52) !important;
                        }

                        &::-ms-input-placeholder {
                            color: rgb(255, 255, 255, 0.52) !important;
                        }

                        &:focus {
                            border-bottom: 1px solid #fff !important;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 769px) {
            padding-bottom: 0px;
        }
    }

    small {
        color: #fff;
        position: absolute;
        bottom: 0;
        right: 12px;
        font-style: italic;
        font-size: 10px;
    }
}

.v0-footer-mail-subscribe {
    display: flex;
    align-items: flex-end;

    .input-container {
        width: 100%;
        max-width: calc(100% - 96px - 24px);

        .v0-input-field {
            margin-top: 20px;
            position: relative;

            input {
                color: var(--font-color);
                padding: 4px 8px;
                border: none;
                border-bottom: 1px solid var(--font-color-052);
                box-sizing: border-box;
                outline: none;
                background-color: transparent;
                font-size: 16px;
                width: -webkit-fill-available;

                &::placeholder {
                    color: var(--font-color-052);
                }

                &:-ms-input-placeholder {
                    color: var(--font-color-052);
                }

                &::-ms-input-placeholder {
                    color: var(--font-color-052);
                }

                &:focus {
                    border-bottom: 1px solid var(--font-color-052);
                }
            }

            p {
                color: #d70000; //alert text
                margin: 0;
                position: absolute;
                font-size: 12px;
                text-align: left;
                padding-left: 4px;
            }
        }
    }

    .send-btn {
        background-color: #212121;
        font-size: 14px;
        font-weight: 500;
        height: fit-content;
        padding: 12px 28px;
        width: 96px;
        min-width: 96px;
        border-radius: 8px;
        color: #fff;
        border: none;
        margin-left: 24px;
        transition: 0.2s all;
        cursor: pointer;

        &:hover {
            transform: translateY(-2px);
        }
    }

    @media screen and (min-width: 1144px) {
        .send-btn {
            margin-left: 52px;
        }
    }
}

.v0-footer-theme.children {
    // đoạn này để làm dark mode
    .v0-app-footer {
        .v0-app-footer-mail-and-social {
            .mail-subscribe {
                .subscribe-text {
                    svg {
                        path {
                            fill: var(--font-color);
                        }
                    }
                }

                .v0-footer-mail-subscribe {
                    .input-container {
                        .v0-input-field {
                            p {
                                color: var(--alert-text-color);
                            }
                        }
                    }
                    .send-btn {
                        background-color: var(--btn-send-bgr);
                    }
                }
            }
        }

        @media screen and (min-width: 769px) {
            background-color: rgba(255, 255, 255, 0.08);
        }
    }
}
