@import "./tailwinds.css";
@import "./root.css";
@import "./zmp-ui.css";
@import "./local.css";
@import "./progress.css";

html,
body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px !important;
    display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #adadad;
}
main {
    font-family: var(--font-poppins);
}

.scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge, and Opera */
}
span,
div,
h1,
h2,
h3,
h4,
h5,
p {
    color: var(--text-color);
}
@media screen and (max-width: 768px) {
    .max-w-component-desktop {
        max-width: 100%;
    }
}
.max-w-component-desktop {
    max-width: 1238px;
    padding-left: 16px;
    padding-right: 16px;
}

* {
    font-family: "Poppins", sans-serif;
}

.max-w-page {
    max-width: 1238px;
    padding-left: 16px;
    padding-right: 16px;
}

.hover-main-color:hover {
    color: var(--main-color);
}

.main-color {
    color: var(--main-color);
}

.main-color-bold {
    color: var(--main-color-bold);
}
