.v4-download-end-test {
    margin-top: 24px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    background: #fff;
    display: grid;
    grid-template-columns: 65% 35%;
    &-left {
        padding: 6px;

        .text {
            color: #000;
            text-align: center;
            font-weight: 600;
            font-size: 12px;
            font-style: normal;
            line-height: normal;
            margin-bottom: 12px;
        }

        .v4-platform-download-app {
            justify-content: center;
        }
    }

    &-right {
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    @media screen and (min-width: 769px) {
        grid-template-columns: 80% 20%;

        &-left {
            display: flex;
            flex-direction: column;
            padding: 14px;
            align-items: center;

            .text {
                font-size: 14px;
            }

            .v4-platform-download-app {
                justify-content: unset;
            }
        }
    }
}
