.v4-end-test {
    background-color: #fff;
    padding: 12px;
    margin-top: 18px;

    &-container {
        &-title {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            color: #212121;
            text-align: center;
            font-weight: 600;
            font-size: 24px;
            font-style: normal;
            line-height: 30px;

            &-icon {
                position: absolute;
                left: 0;
                top: 2px;
            }
        }

        &-description {
            margin-top: 16px;
            color: rgba(33, 33, 33, 0.52);
            text-align: center;
            font-size: 12px;
            font-style: normal;
            line-height: 15px;
            > * {
                padding: 0 2px;
            }
        }

        &-progress {
            margin-top: 16px;
            position: relative;

            .v4-progress {
                .v4-line-progress {
                    height: 34px;
                    width: 100%;
                    overflow: hidden;
                    .v4-current-progress {
                        background-color: #59d2a7;
                        height: inherit;
                    }
                }
                &-target-icon {
                    position: absolute;
                    top: -3px;
                    width: 36px;
                    height: 37px;
                }

                &-text {
                    margin-top: 12px;
                    display: grid;

                    &-score,
                    &-target {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    &-target {
                        .text::after {
                            content: "To pass";
                        }
                    }
                    .percent {
                        color: #212121;
                        text-align: center;
                        font-weight: 600;
                        font-size: 16px;
                        font-style: normal;
                        line-height: normal;
                    }
                    .text {
                        color: rgba(33, 33, 33, 0.52);
                        text-align: center;
                        font-size: 12px;
                        font-style: normal;
                        line-height: normal;
                    }
                }
            }
        }

        &-buttons {
            margin-top: 12px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .btn {
                cursor: pointer;
                background-color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                width: 100%;
                text-transform: none;
                padding: 10px 0 10px;
                box-shadow: none;
            }

            .next-level {
                border: 1px solid #7c6f5b;
                background-color: transparent;
                color: #7c6f5b;
                margin-left: 12px;
            }

            .final-test {
                border: 1px solid #7c6f5b;
                background-color: #7c6f5b;
                color: #fff;
            }
            .btn-theme-1,
            .btn-theme-2 {
                border: 1px solid #7c6f5b;
                background-color: transparent;
                color: #7c6f5b;
            }
        }
    }
    @media screen and (min-width: 769px) {
        margin-top: 0;
        &-container {
            padding: 56px 80px;

            &-title {
                font-size: 32px;
                line-height: 40px;
            }

            &-description {
                margin-top: 24px;
                font-size: 16px;
                line-height: 21px;
            }

            &-progress {
                margin-top: 24px;

                .v4-progress {
                    .v4-line-progress {
                        height: 44px;
                    }
                    .v4-progress-target-icon {
                        top: 0;
                        transform: translateX(-50%);
                        svg {
                            width: 45px;
                            height: 45px;
                        }
                    }
                    &-text {
                        .percent {
                            font-size: 24px;
                        }

                        &-target {
                            .text::after {
                                content: "Needed To pass";
                            }
                        }
                    }
                }
            }

            &-buttons {
                margin-top: 24px;
                flex-direction: row;
                justify-content: space-between;

                .btn {
                    width: fit-content;
                    padding: 10px 16px;
                }

                .next-level {
                    border: 1px solid #7c6f5b;
                    background-color: #7c6f5b;
                    color: #fff;
                }

                .final-test {
                    border: 1px solid #7c6f5b;
                    background-color: transparent;
                    color: #7c6f5b;
                }
                .btn-theme-2 {
                    border: 1px solid #7c6f5b;
                    background-color: #7c6f5b;
                    color: #fff;
                }
            }
        }
    }
}
