.store-reviews-container {
    .reviews-grid {
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
            linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        -webkit-mask-size: 100% 100%;
        -webkit-mask-repeat: no-repeat;
        gap: 24px;
        margin-top: 80px;
        position: relative;
        height: 672px;
        overflow: scroll;
        padding-top: 5px;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
            display: none;
        }

        @media screen and (max-width: 768px) {
            gap: 8px;
            width: 100vw;
            margin-top: 32px;
            height: 400px;
            left: -16px;
        }

        .rv-grid-column {
            width: 100%;
            column-count: 3;
            position: relative;
            column-gap: 32px;
            @media screen and (max-width: 768px) {
                column-gap: 8px;
                position: absolute;
                width: fit-content;
                padding: 0 16px;
            }
            .rv-item-wrapper {
                padding-bottom: 24px;
                display: inline-block;
                width: 100%;
                @media screen and (max-width: 648px) {
                    width: 200px;
                }
                .rv-item {
                    border-radius: 10px;
                    padding: 24px;
                    gap: 16px;
                    display: flex;
                    flex-direction: column;
                    background: var(--background-008);
                    border: 1px solid rgba(97, 95, 70, 0.52);
                    justify-content: center;
                    align-items: flex-start;

                    cursor: pointer;
                    transition: all 0.15s ease;
                    &:hover {
                        transform: translate3d(0, -3px, 0);
                    }

                    @media screen and (max-width: 768px) {
                        padding: 16px;
                    }
                    .profile-wrapper {
                        display: flex;
                        flex-direction: row;
                        gap: 8px;
                        align-items: center;
                        text-align: center;

                        .avatar {
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;

                            span {
                                color: white;
                                font-size: 24px;
                                font-weight: bold;
                                line-height: 48px;
                            }
                        }

                        .profile-name {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            .name {
                                font-size: 16px;
                                line-height: 20px;
                                color: var(--font-color);
                                margin: 0;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                text-align: left;
                                font-weight: 600;
                                display: -webkit-box;
                                -webkit-line-clamp: 1; /* number of lines to show */
                                line-clamp: 1;
                                -webkit-box-orient: vertical;
                            }
                            .last-update {
                                font-size: 16px;
                                margin: 0;
                                line-height: 24px;
                                color: var(--font-color-03);
                            }

                            @media screen and (max-width: 768px) {
                                .name {
                                    font-size: 14px;
                                    line-height: 20px;
                                    max-width: 110px;
                                }
                                .last-update {
                                    font-size: 14px;
                                    line-height: 20px;
                                }
                            }
                        }
                    }

                    .twitted {
                        text-align: left;
                        span {
                            font-size: 16px;
                            line-height: 24px;
                            color: var(--font-color);
                        }

                        @media screen and (max-width: 768px) {
                            span {
                                font-size: 12px;
                                line-height: 18px;
                            }
                        }
                    }

                    .rate {
                        height: 16px;
                        span {
                            color: #faaf00;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
