.v4-circle-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    .rotate-ifinite {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        border-top: 4px solid transparent;
        border-left: 4px solid rgba(33, 33, 33, 0.5);
        border-right: 4px solid rgba(33, 33, 33, 0.5);
        border-bottom: 4px solid rgba(33, 33, 33, 0.5);
        animation: rotate-ifinite 1s ease-in-out infinite;
    }
}

@keyframes rotate-ifinite {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
